body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
}

h1 {
    font-size: small;
}

ul {
    list-style-type: none;
    padding: 0;  
}

li {
    padding-bottom: 5px;
}

a {
    text-decoration: none;
}

.list {
    color: #69696a;
}

.blackbox {
    background-color: #000;
    color: #FFF;
    display: block;
    text-align: center;
    padding: 8px;
    border-radius: 20px;  
}

p {
    color: #69696a;
}