/* Browser Resets */

body{
    margin: 0;
}

h1 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

p {
    margin: 0;

}

/* Global Stlying */

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
    margin: 10px;
}

a {
    text-decoration: none;
}


/* Project Specific Styles */

.headerone{
    margin-bottom: 5px;
}

.header-title {
    color: #000;
    font-size: small;    
}

.LiParent-container {
    list-style: none;
}

.list {
    color: #69696a;
    padding-bottom: 10px;
    
}

.blackbox {
    background-color: #000;
    color: #FFF;
    display: block;
    text-align: center;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;  
}

.header-main {
    color: #000;
}
.paragraph {
    color: #69696a;
    border-style: hidden hidden hidden solid;
    border-color:69696a;
    padding-left: 10px;
} 

@media only screen and (min-width: 768px)


